.search-input {
  color: #eee;
}
.search-input:focus {
  color: #fff;
}




// this is bad, and the source of all your problems in the future so here are some tags "navbar nav margin navmargin"
#site-nav > ul > li:nth-child(1),
#site-nav > ul > li:nth-child(7),
#site-nav > ul > li:nth-child(4) {
  border-bottom: 2px dotted #686;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
