.search-input {
  color: #eee;
}
.search-input:focus {
  color: #fff;
}




// this is bad, and the source of all your problems in the future so here are some tags "navbar nav margin navmargin"
#site-nav > ul > li:nth-child(1),
#site-nav > ul > li:nth-child(7),
#site-nav > ul > li:nth-child(4) {
  border-bottom: 2px dotted #686;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.side-bar {
  width: calc((100% - 1364px) / 2 + 264px);
}
#top {
  margin-left: calc( (100% - 1364px) / 2 + 264px );
}

.label-grey {
  background-color: $grey-lt-300;
  color: $grey-dk-200;
}
.label-pink {
  background-color: #f9f;
}
.label-white {
  background-color: $grey-lt-000;
  color: $grey-dk-200;
}
.nogap > * {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
