.search-input {
  color: #eee;
}
.search-input:focus {
  color: #fff;
}




// this is bad, and the source of all your problems in the future so here are some tags "navbar nav margin navmargin"
#site-nav > ul > li:nth-child(1),
#site-nav > ul > li:nth-child(9),
#site-nav > ul > li:nth-child(13),
#site-nav > ul > li:nth-child(5) {
  border-bottom: 2px dotted #686;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

// set the disclaimer to grey
#site-nav > ul > li:last-child > * {
  color: #646271;
}

.site-footer {
  visibility: hidden;
}

// make no border for nav top
.site-header {
  border: none;
}

// .side-bar {
//   width: calc((100% - 1364px) / 2 + 264px);
// }
// #top {
//   margin-left: calc( (100% - 1364px) / 2 + 264px );
// }


.label-grey {
  background-color: $grey-lt-300;
  color: $grey-dk-200;
}
.label-pink {
  background-color: #f9f;
}
.label-white {
  background-color: $grey-lt-000;
  color: $grey-dk-200;
}
.nogap > * {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.nolist > * {
  list-style: none;
}

.hlblue {
  color: #ccf;
}
.hlyellow {
  color: #ffc;
}
.hlgreen {
  color: #afc;
}


// adds a background to the top of the page
html {
  background: $grey-dk-300;
}
body {
  background: rgba(60, 60, 70, 1);
}
#top {
  // background: rgba(60, 60, 70, 0.9);
  max-width: 100%;
  background-image: url("/img/header.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
#main-content {
  max-width: 800px;
}
#main-header {
  background: transparent;
}
#main-header > .search {
  background: transparent;
}
#main-header > .search > .search-input {
  background: transparent;
}
// ---------------------------------
#search-input:empty {
  background: rgba(100, 100, 100, 0.7);
  border-radius: 0px 0px 40px 0px;
  box-shadow: 4px 4px 5px rgba(40,40,40,0.5);
  transition: all 0.5s ease-in-out;
}
#search-input:focus {
  background: rgba(100, 100, 100, 1);
  border-radius: 0px 0px 0px 0px;
  transition: all 0.5s ease-in-out;
}
.main-header * {
  overflow: visible;
}
#main-header > .search {
  background-color: transparent;
}
.aux-nav-list > .aux-nav-list-item > .site-button {
  background-color: rgba(10, 10, 11, 0.2);
  border-radius: 10px;
  margin-left: 20px;
  height: 40px;
  margin-top: 10px;
}
.aux-nav-list > .aux-nav-list-item > .site-button {
  color: #7ae;
}













//
