<div id="construction-notice" class="">
<div class="language-plaintext highlighter-rouge" style="border: 4px dotted #f93; margin-bottom: 50px;">
  <div class="highlight">
    <pre class="highlight">
<code>  本站仍在建设中！部分内容尚未完善，请注意！<a href="https://weblate.project-trans.org/projects/transvoice-wiki/">参与中文版贡献</a>！
  如果你对英文版内容补充、修正或疑问，请<a href="https://github.com/SumianVoice/TransVoice-Wiki/issues">提交 issue</a>，或联系维护者。
  英文版语音训练思维导图已发布！点击<a href="https://map.sumianvoice.com/">这里</a>查看几乎所有语音特性和训练方法的详细导图！</code>
    </pre>
  </div>
</div>
</div>
