

<div id="construction-notice" class="">
<!-- <p class="label label-red fs-6">NOTICE</p> -->
<div class="language-plaintext highlighter-rouge" style="border: 4px dotted #f93; margin-bottom: 50px;"><div class="highlight"><pre class="highlight">
<code>  This site is under construction! Stuff be missing, beware! :3 <a href="https://github.com/SumianVoice/TransVoice-Wiki">Contribute</a>!
  If you have issues, additions, corrections or concerns, open an <a href="https://github.com/SumianVoice/TransVoice-Wiki/issues">issue</a> or contact a maintainer.
  Note that <a href="https://wiki.sumianvoice.com/wiki/pages/PIPM/">PIPM</a> info has finally been added!</code></pre></div> </div>
</div>
