
<meta content="{{ site.title }}" property="og:site_name">
<meta property="og:image" content="https://wiki.sumianvoice.com/img/site-image.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://wiki.sumianvoice.com/img/site-image.jpg">
<meta property="theme-color" content="#42c080">
<meta name="image" content="https://wiki.sumianvoice.com/img/wikiicon.jpg">
<meta itemprop="image" content="https://wiki.sumianvoice.com/img/wikiicon.jpg">

<div id="construction-notice" class="">
<!-- <p class="label label-red fs-6">NOTICE</p> -->
<div class="language-plaintext highlighter-rouge" style="border: 4px dotted #f93; margin-bottom: 50px;"><div class="highlight"><pre class="highlight">
<code>  This site is under construction! Stuff be missing, beware! :3 <a href="https://github.com/SumianVoice/sumianvoice.github.io">Contribute</a>!</code></pre></div> </div>
</div>

{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}
{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}
{% if page.excerpt %}
  <meta content="{{ page.excerpt }}" property="og:description">
{% else %}
  <meta content="{{ site.description }}" property="og:description">
{% endif %}
{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
{% endif %}
<!-- {% if page.featured-image %}
  <meta content="{{ site.url }}/{{ page.featured-image }}" property="og:image">
{% else %}
  <meta content="{{ site.url }}/img/header.jpg" property="og:image">
{% endif %} -->
{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}
